div {
    text-align: center;
}
button {
    width: 80px;
    height: 40px;
    margin: 5px;
}
#clear:hover {
    transition: .5s ease-out;
    background-color: red;
}
#reset:hover {
    transition: .5s ease-out;
    background-color:yellow;
    color: black
}
#clear {
    background-color:yellow;
    color:black;
}
#reset {
    background-color:red;
    color:white;
}