table {
    margin-top:20px;
    margin: auto;
    padding-top: 40px;
}
tbody {
    text-align: center;
}
td{
    border: solid black 2px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    padding: 2px;
}

th {

    border: solid black 2px;
    border-radius: 5px;
    background-color: #ABBED6;
}

tr {
    background-color: #ABBED6;
    width: 100px;
    border:1px solid black;
}

#purchased {
    width: 100px;
    background-color: green;
    color:white;
    margin: 2px;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    transition: .5s ease-out;
}
#purchased:hover {
    background-color: white;
    color:black;
}
#delete {
    background-color:red;
    color:white;
    width:100px;
    margin: 2px;
    text-align: center;
    border: 1px solid black;
    border-radius:2px;
    transition: .5s ease-out;
}
#delete:hover {
    background-color:white;
    color:black;
}