td{
    border: solid black 1px;
    text-align: center;
    margin: auto;
    padding: 1% 3%;
    }

th {
    border: solid red 2px;
    background-color: darkcyan;
}

span {
    color: yellowgreen;
}